<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ComputerDatabaseDemo">
	<listeners>
		<listener class-name="com.ComputerDatabaseDemo.utilities.Reporting" />
	</listeners>
	<test thread-count="5" name="ComputerDatabaseDemo Test">
		<parameter name="browser" value="chrome" />
		<classes>
      <class name="com.ComputerDatabaseDemo.AddComputerTestCases.TC_AC_001"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
